

body{
    text-align: center;
    background-image: url('./assets/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    color: white;
    // margin: 0px;
    // padding: 0px;
}
