<div class="bg-main">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand fs-2 fw-bold "><i class="fa fa-shopping-cart fs-2"
            style="color: #f54242;"></i><span class="text-white">Shopwise</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-semibold text-uppercase  me-1 text-danger" href="#"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                home
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Option</a></li>
                <li><a class="dropdown-item" href="#">Option</a></li>
  
                <li><a class="dropdown-item" href="#">Option</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-white  me-1" href="#"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                pages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Option</a></li>
                <li><a class="dropdown-item" href="#">Option</a></li>
  
                <li><a class="dropdown-item" href="#">Option</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-white  me-1" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                product
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Option</a></li>
                <li><a class="dropdown-item" href="#">Option</a></li>
  
                <li><a class="dropdown-item" href="#">Option</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown fw-semibold text-uppercase text-white  me-1">
              <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-white  me-1" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                blog
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Option</a></li>
                <li><a class="dropdown-item" href="#">Option</a></li>
  
                <li><a class="dropdown-item" href="#">Option</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-semibold text-uppercase text-white  me-1" href="#" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                shop
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Option</a></li>
                <li><a class="dropdown-item" href="#">Option</a></li>
  
                <li><a class="dropdown-item" href="#">Option</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-semibold text-uppercase text-white  me-1" href="#">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-semibold text-uppercase text-white me-1" (click)="logout($event)" href="#">Logout</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle cart fw-semibold text-uppercase text-white  me-1"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-shopping-cart fs-5" style="color: #ffffff;"></i>
                <span class="position-absolute  translate-middle badge rounded-pill bg-danger">
                 {{cartProducts.length}}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
              <div class="dropdown-menu" style="margin-left: -30vh;">
                <div class="CartContainer">
                  <div class="row">
                    <div class="col-6">
                      Your Cart
                    </div>
                    <div class="col-6 text-end text-danger" style="cursor: pointer;">
                      Remove All
                    </div>
                  </div>
                  <div class="row pt-1" *ngFor="let cart of cartProducts"> 
                    <div class="col-4">
                      <img class="img-fluid" style="height: 10vh;" src={{baseUrl}}{{cart.productImg}} class="card-img-top">
                    </div>
                    <div class="col-4">
                      {{cart.productName}}
                    </div>
                    <!-- <div [(ngModel)]="cart.quantity" (change)="updateQuantity(['product'])"></div> -->
                    <div class="col-2 text-end">
                     {{ cart.productPrice}}
                    </div>
                    <div class="col-2 text-end">
                     {{ cart.quantity}}
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-3">
  
                    </div>
                    <div class="col-9">
                      <hr>
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-2">
                       
                    </div>
                    <div class="col-2">
                       
                    </div>
                    <div class="col-4">
                      <div class="Subtotal">subTotal</div>
                      <div> <small> {{cartProducts.length}} items</small></div>
                    </div>
                    <div class="col-4 text-end">
                      <strong>${{subTotal}}</strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-end">
                      <button class="btn btn-sm btn-success" (click)="redirectToSale()">Checkout</button>
                    </div>
                  </div> 
                </div>
              </div> 
            </li> 
          </ul> 
        </div>
      </div>
    </nav>
  </header>

<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-5">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Exclusive Products</h2> 
                    <ul class="list-unstyled d-flex   justify-content-center ">
                        <li><a href="#" class=" m-4  text-decoration-none text-danger fw-semibold  ">New Arrival</a></li>
                        <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-white">Best Sellers</a></li>
                        <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-white">Featured</a></li>
                        <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-white ">Special Offer</a></li>
                    </ul>  
                </div>
            </div>
            <div class="col-12 container-fluid">
                <div class="row mt-3">
                    <div class="col-lg-3 pt-1" *ngFor="let product of productList">
                        <div class="box-shadow">
                            <div class="card mt-4 p-4" style="height: 390px;">
                                <img class="img-fluid" src={{baseUrl}}{{product.productImg}} style="height: 190px;" class="card-img-top"
                                    alt="Image Under Maintainance, available soon...">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.productName}}</h5>
                                    <p class="card-text"><span
                                            class="text-danger fw-semibold me-2">₹{{product.productPrice}}</span><del> ${{product.productPrice + 3000}}</del>
                                        <span class="text-success ms-2">35% Off</span></p>
                                     
                                    <div class="row">
                                        
                                        <div class="col-12 text-center">
                                            <button class="btn btn-success" (click)="addItemToCart(product.id, product.productPrice)">Add to cart</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>

</section>
</div>