.container-fluid{
    background-color: rgba(0, 0, 0, 0.514);
    height: 100vh;
}
.main{
    // background-color: rgba(12, 19, 11, 0.596);
    // // border-top: 2px solid white;
    // border-left: 7px solid white;
    // // border-bottom: 2px solid rgb(253, 253, 253);
    // border-right: 8px solid rgb(255, 255, 255);
    box-shadow: 10px 10x 20px white inset;
}

input{
    background: rgba(0, 0, 0, 0.308);
    margin-bottom: 20px;
    color: white;
}

